sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
engine-strict=true
legacy-peer-deps=true
prefer-frozen-lockfile=true
strict-peer-deps=false
auto-install-peers=true
node-linker=hoisted
save-exact=true
resolution-mode=highest
audit=true
fund=false
update-notifier=false 